<section id="contact" style="background-color:rgba(12,90,168,.05)" class=" d-flex justify-content-center align-items-center contact">
    <div class="row  g-0">
        <div id="contact-col" class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-center align-items-center">
           <div id="contact-head" class="row">
            <h2 class="mb-5">Contact Us</h2>
            <ul>
                <li class="mb-3 fw-bold"> <i class="fa-solid fa-phone "></i> <span>+20 122 2222 222</span></li>
                <li class="mb-3 fw-bold"> <i class="fa-solid fa-envelope"></i> <span>EL-KAYAR&#64;EL-KAYAR.COM</span></li>
                <li class="mb-3 fw-bold"> <i class="fa-solid fa-location-dot"></i> <span>20 Champollion st., 
                    Alexandria, Egypt</span></li>
            </ul>
           </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1206.526157269782!2d29.905774921604934!3d31.204897654567436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c3ff88c90233%3A0x346e602c1ea8e489!2sKayar!5e0!3m2!1sen!2seg!4v1729073465274!5m2!1sen!2seg" width="533" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>