.contact 
    padding: 5%
    padding-top: 0
    padding-bottom: 0
    padding-right: 0
    margin: 10% !important
    margin-top: 0 !important

#contact-col
    padding: 5%

li 
   font-family: "Lato", sans-serif
   font-size: 12px
   list-style-type: none

span 
    opacity: 0.5


@media (max-width:576px) 
    iframe
        width: auto !important
    
.fa-solid 
    width: 100px
    height: 100px 

.svg-inline--fa 
    height: 1.5em
    margin-right: 2%

