<section class="products bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="row mb-5 d-flex justify-content-center align-items-center " id="product-head">
          <div class="col-md-6 col-sm-12">
            <h2 class="fw-bolder text-main-color">Our Products</h2>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-floating">
                <input type="text" class="form-control w-100" id="floatingInput" placeholder="search product">
                <label class="d-flex justify-content-center align-items-center" for="floatingInput"> <img
                        src="assets/images/search icon.png" class="mx-2" width="18" alt="">
                    <div>Search Product</div>
                </label>
            </div>
          </div>
        </div>
      </div>

    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="row d-flex justify-content-center align-items-center products-layout">
            <div class="col col-lg-4 col-12 ">
                <!-- Button trigger modal -->
                <button type="button" class="border-0 bg-transparent" data-bs-toggle="modal"
                    data-bs-target="#exampleModalOne">
                    <div class="product-img rounded-pill overflow-hidden position-relative">
                        <a href="#"><img src="assets/images/Products/industry-glass-banner-mobile.jpg" alt=""></a>
                        <span
                            class="position-absolute top-0 bottom-0 start-0 end-0 d-flex align-items-center justify-content-center gap-2 main-color text-white fw-bold">
                            Glass, Detergents <br> & Ceramics
                        </span>
                    </div>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalOne" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Glass, Detergents & Ceramics</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center row">
                                @for (product of glassDetergentsCeramics; track $index) {
                                <div class="col-3 product rounded-1 text-center">
                                    <h6 class="fw-bold">{{product}}</h6>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-12">
                <!-- Button trigger modal -->
                <button type="button" class="border-0 bg-transparent" data-bs-toggle="modal"
                    data-bs-target="#exampleModalTwo">
                    <div class="product-img rounded-pill overflow-hidden position-relative">
                        <a href="#"><img src="assets/images/Products/industry-glass-banner-mobile.jpg" alt=""></a>
                        <span
                            class="position-absolute top-0 bottom-0 start-0 end-0 d-flex align-items-center justify-content-center gap-2 main-color text-white fw-bold">
                            Food Industries
                        </span>
                    </div>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalTwo" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Food Industries</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center row">
                                @for (product of foodIndustries; track $index) {
                                <div class="col-3 product rounded-1 text-center">
                                    <h6 class="fw-bold">{{product}}</h6>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-4 col-12">
                <!-- Button trigger modal -->
                <button type="button" class="border-0 bg-transparent" data-bs-toggle="modal"
                    data-bs-target="#exampleModalThree">
                    <div class="product-img rounded-pill overflow-hidden position-relative">
                        <a href="#"><img src="assets/images/Products/industry-glass-banner-mobile.jpg" alt=""></a>
                        <span
                            class="position-absolute top-0 bottom-0 start-0 end-0 d-flex align-items-center justify-content-center gap-2 main-color text-white fw-bold">
                            Paints industries
                        </span>
                    </div>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalThree" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Paints industries</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-flex justify-content-center align-items-center row">
                                @for (product of paintIndustries; track $index) {
                                <div class="col-3 product rounded-1 text-center">
                                    <h6 class="fw-bold">{{product}}</h6>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>