<section
    class="products bg-opacity-50 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex row justify-content-center align-items-center" id="product-head">
        <h2 class="fw-bolder text-main-color col col-6">Our Products</h2>
        <div class="form-floating mb-3 col col-6">
            <input type="email" class="form-control w-100" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput"> <img src="assets/images/search icon.png" class="mx-2" width="18" alt=""> Search Product</label>
          </div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col col-lg-3 col-6 ">
                <!-- Button trigger modal -->
                <button type="button" class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModalOne">
                    <div class="product-img rounded-circle overflow-hidden position-relative">
                        <a href="#"><img src="assets/images/Products/industry-glass-banner-mobile.jpg"
                                alt=""></a>
                        <span
                            class="position-absolute top-0 bottom-0 start-0 end-0 d-flex align-items-center justify-content-center gap-2 main-color text-white fw-bold">
                            Detergents
                        </span>
                    </div>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalOne" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Detergents</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-6">
                <!-- Button trigger modal -->
                <button type="button" class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModalTwo">
                    <div class="product-img rounded-circle overflow-hidden position-relative">
                        <a href="#"><img src="assets/images/Products/industry-glass-banner-mobile.jpg"
                                alt=""></a>
                        <span
                            class="position-absolute top-0 bottom-0 start-0 end-0 d-flex align-items-center justify-content-center gap-2 main-color text-white fw-bold">
                            Ceramics & glass
                        </span>
                    </div>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalTwo" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Ceramics & glass</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-6">
                <!-- Button trigger modal -->
                <button type="button" class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModalThree">
                    <div class="product-img rounded-circle overflow-hidden position-relative">
                        <a href="#"><img src="assets/images/Products/industry-glass-banner-mobile.jpg"
                                alt=""></a>
                        <span
                            class="position-absolute top-0 bottom-0 start-0 end-0 d-flex align-items-center justify-content-center gap-2 main-color text-white fw-bold">
                            Paints industries
                        </span>
                    </div>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalThree" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Paints industries</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-3 col-6">
                <!-- Button trigger modal -->
                <button type="button" class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModalFour">
                    <div class="product-img rounded-circle overflow-hidden position-relative">
                        <a href="#"><img src="assets/images/Products/industry-glass-banner-mobile.jpg"
                                alt=""></a>
                        <span
                            class="position-absolute top-0 bottom-0 start-0 end-0 d-flex align-items-center justify-content-center gap-2 main-color text-white fw-bold">
                            Food industries & fertilizers
                        </span>
                    </div>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalFour" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Food industries & fertilizers</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>