<section style="background-color:rgba(12,90,168,.05)" class=" d-flex justify-content-center align-items-center about">
    <div class="row  g-0">
        <div id="history" class="col-xxl-6 col-xl-6 col-lg-6 col-md- col-sm-12">
           <div id="keydates" class="row">
            <h2>Key dates</h2>
            <p>A family-owned family-operated Egyptian business.</p>
           </div>
            <div>Early</div>
           <div class="row">
            <div class="col-md-6 col-sm-12 ">
                <h1>1900s</h1>
                <p>Trading of chemicals,  foodstuff, grains, and  oils.</p>
           </div>
           <div class="col-md-6 col-sm-12">
                <h1>2002</h1>
                <p>New company brand. <br>
                    <br>
                   New broad range of  specialties. <br>
                   <br>
                   Main regional  importer of raw  materials  incorporated in the  manufacturing of detergents,  glass and  ceramics. </p>
           </div>
           </div>    
        </div>
         <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
            <img src="assets/images/ABOUT/history 1.png" class="w-100" alt="">
         </div>   
    </div>
</section>
<section class="statistics">
    <div class="container">
        <div class="row">
            <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-12 gy-5">
                <div class="text-center">
                    <h1 class="text-main-color">20+</h1>
                    <span class="fw-bold">YEARS OF EXPERIENCE</span>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-12 gy-5">
                <div class="text-center">
                    <h1 class="text-main-color">150+</h1>
                    <span class="fw-bold">EMPLOYEES</span>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-12 gy-5">
                <div class="text-center ">
                    <h1 class="text-main-color">60+</h1>
                    <span class="fw-bold">CLIENTS</span>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-12 gy-5">
                <div class="text-center ">
                    <h1 class="text-main-color">12+</h1>
                    <span class="fw-bold">INTERNATIONAL PARTNERS</span>
                </div>
            </div>
        </div>
    </div>
</section>