#keydates
    padding-bottom: 80px
    
span 
    font-size: 12px
    opacity: 0.5

h1
    margin: 0
    padding: 0

.statistics
    padding: 5%
    padding-top: 0
    padding-bottom: 0
    h1
        font-size: 60px
    
@media (max-width:767px) 
    .about,.statistics
        padding: 40px 0 
        padding-bottom: 0 
        margin: 0 

    #keydates
        padding-bottom: 40px
    #history
        padding: 20px    

@media (min-width:768px) 
      .statistics
        padding: 0 
        margin: 40px 
      .about 
         margin: 40px 
         padding-top: 0 
         padding-bottom: 0 
         padding-left: 0 
        
      #history
          padding: 60px   

@media (min-width:1024px) 
   .about 
      margin: 160px 
      margin-top: 0 
      margin-bottom: 0 
   .statistics
      padding: 5%
      padding-top: 0
      padding-bottom: 0
      margin: 160px
      margin-top: 0 
      margin-bottom: 0 
   #history
      padding: 60px
