<div class=" main-color text-white text-center position-fixed top-0 w-100 p-2 z-3">
    <div class="container-fluid d-flex row justify-content-center align-items-center">
        <a href="#rfq" class=" col col-sm-12 w-auto fw-bolder">GET A QUOTE NOW </a>
        <img src="assets/images/HEADER/Ellipse 7.png" class="col-sm-3 w-auto .dot">
        <a class="col-sm-3 w-auto" href="mailto:el-kayar@el-kayar.com" > EL-KAYAR&#64;EL-KAYAR.COM</a>
        <img src="assets/images/HEADER/Ellipse 7.png" class="col-sm-3 w-auto">
        <span class="col-sm-3 w-auto fw-bolder"> +20 122 2222 222</span>
    </div>
</div>