<div class="main-color main-header text-white text-center position-fixed w-100 p-2 z-3">
    <div class="d-flex justify-content-center align-items-center">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-auto col-md-auto col-12">
                <a href="#rfq" class=" fw-bolder">GET A QUOTE NOW </a>
            </div>
            <div class="col-lg-auto col-md-auto col-3 dot">
                <img src="assets/images/HEADER/Ellipse 7.png" class=" dot">
            </div>
            <div class="col-lg-auto col-md-auto col-5 ">
                <a class="mail" href="mailto:el-kayar@el-kayar.com" > EL-KAYAR&#64;EL-KAYAR.COM</a>
            </div>
            <div class="col-lg-auto col-md-auto col-3 dot-unhidden">
                <img src="assets/images/HEADER/Ellipse 7.png" >
            </div>
            <div class="col-lg-auto col-md-auto col-4">
                <span class="fw-bolder"> +20 122 2222 222</span>
            </div>
        </div>
    </div>
</div>