.map
  margin: 10% !important
  padding-top: 5%
  padding-bottom: 5%
  margin-top: 0 !important
  margin-right: 0 !important
  margin-bottom: 0 !important
  background-repeat: no-repeat
  background-image: url("/assets/images/INTRO/map.png")
  background-position: right
  background-size: cover

.btn
    font-size: 12px !important

p 
    font-size: 18px
    opacity: 0.6
   
span 
    display: inline-block
    font-size: 12px
    font-family: "Lato", sans-serif
    margin-bottom: 2%
    margin-top: 3%

@media (max-width:576px) 
    span 
        margin-top: 10%
    
h1 
    font-size: 53px

