<section id="rfq" class="d-flex justify-content-center align-items-center rfq-form">
    <form action="https://formspree.io/f/xbljjzqj" method="POST" class="row">
        <h2 class="text-main-color text-center my-5">Request for quotation</h2>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" name="name" placeholder="name" required>
                <label for="name">NAME</label>
              </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="sureName" name="sureName" placeholder="sureName">
                <label for="sureName">SURNAME</label>
              </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="company" name="company" placeholder="company">
                <label for="company">COMPANY</label>
              </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                <label for="email">EMAIL</label>
              </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="phoneNumber">
                <label for="phoneNumber">PHONE</label>
              </div>
        </div>
        <div class="col-12">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" name="message" id="message" style="height: 200px" required></textarea>
                <label for="message"> TYPE YOUR MESSAGE...</label>
            </div> 
          </div>
        <div class="col-12 my-3 w-100">
          <button type="submit" class="btn btn-primary w-auto">SUBMIT</button>
        </div>
      </form>
</section>