<section style="background-color:rgba(12,90,168,.05)" class="d-flex justify-content-center align-items-center services">
    <div  class="row g-0" >
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <span class="d-block fw-bolder mb-3">WHAT WE DO</span>
            <h2 class="fw-bold">Our Included <br> Services</h2>
        </div>
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <div class="row">
                <div class="col-xxl-6 col-sm-12 d-flex  align-items-start mb-3">
                    <img src="assets/images/SERVICES/Network.png" class="rounded-pill me-4" alt="">
                    <h5>Local agents for leading international <br> exporters</h5>
                </div>
                <div class="col-xxl-6 col-sm-12 d-flex  align-items-start mb-3">
                    <img src="assets/images/SERVICES/export.png" class="rounded-pill me-4" alt="">
                    <h5>Product distribution</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-6 col-sm-12 d-flex  align-items-start mb-3">
                    <img src="assets/images/SERVICES/stock.png" class="rounded-pill me-4" alt="">
                    <h5>Regional logistics <br> solution</h5>
                </div>
                <div class="col-xxl-6 col-sm-12 d-flex  align-items-start mb-3">
                    <img src="assets/images/SERVICES/search.png" class="rounded-pill me-4" alt="">
                    <h5>Product needs assessment</h5>
                </div>
            </div>
        </div>
    </div>
</section>

