<nav id="sidebar" class="navbar position-fixed navbar-expand-lg vh-100 z-3">
  <div class="main-color d-inline d-flex">
    <div class="flex-column justify-content-center align-items-center">
      
        <button class="navbar-toggler border-white border-3 m-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-bars text-white"></i>
        </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
          <a href="#intro"><img class="bg-white border-0 rounded-2" src="assets/images/kayar logo-02 1.png" width="109"></a>
          <li class="nav-item">
            <a class="nav-link active text-white fw-bold" aria-current="page" href="#services" >SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="#products">PRODUCTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="#about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="#rfq">RFQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fw-bold" href="#contact">CONTACT</a>
          </li>
          <li class="nav-item bg-body-secondary" style="background-color:rgba(12,90,168,.05)">
            <span class="nav-link text-main-color fw-bold">EL KAYAR
              <br>
              TRADING,
              <br>
              ENGINEERING,
              <br>
              AND AGENCIES
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>